<section id="title">
    <h1>Банкетна зала</h1>
</section>

<section id="make-reservation">
    <form action="/banquet" method="post">
        <label for="description">Описание: </label>
        <input type="text" name="description">
        <label for="proposal1">Предложение 1: </label>
        <input type="text" name="proposal1">
        <label for="descriptionProp1">Описание: </label>
        <input type="text" name="descriptionProp1">
        <label for="proposal2">Предложение 2: </label>
        <input type="text" name="proposal2">
        <label for="descriptionProp2">Описание: </label>
        <input type="text" name="descriptionProp2">
        <label for="proposal3">Предложение 3: </label>
        <input type="text" name="proposal3">
        <label for="descriptionProp3">Описание: </label>
        <input type="text" name="descriptionProp3">
        <label for="proposal4">Предложение 4: </label>
        <input type="text" name="proposal4">
        <label for="descriptionProp4">Описание: </label>
        <input type="text" name="descriptionProp4">
        <input type="submit" value="Обнови">
    </form>
</section>