<h1>Детски кът</h1>

<form action="/children" method="post">
    <h2>Забавления</h2>
    <label for="entertainment1">Забавление 1</label>
    <input type="text" name="entertainment1">
    <br>
    <label for="description1">Описание</label>
    <input type="text" name="description1">
    <br>
    <label for="entertainment2">Забавление 2</label>
    <input type="text" name="entertainment2">
    <br>
    <label for="description2">Описание</label>
    <input type="text" name="description2">
    <br>
    <label for="entertainment3">Забавление 3</label>
    <input type="text" name="entertainment3">
    <br>
    <label for="description3">Описание</label>
    <input type="text" name="description3">
    <br>
    <label for="entertainment4">Забавление 4</label>
    <input type="text" name="entertainment4">
    <br>
    <label for="description4">Описание</label>
    <input type="text" name="description4">
    <br>
    <input type="submit" value="Редактиране">
</form>