<section id="title">
    <h1>За децата</h1>
</section>

<section id="make-reservation">
    <form action="/children" method="post">
        <label for="entertainment1">Забавление 1: </label>
        <input type="text" name="entertainment1">
        <label for="description1">Описание: </label>
        <input type="text" name="description1">
        <label for="entertainment2">Забавление 2: </label>
        <input type="text" name="entertainment2">
        <label for="description2">Описание: </label>
        <input type="text" name="description2">
        <label for="entertainment3">Забавление 3: </label>
        <input type="text" name="entertainment3">
        <label for="description3">Описание: </label>
        <input type="text" name="description3">
        <label for="entertainment4">Забавление 4: </label>
        <input type="text" name="entertainment4">
        <label for="description4">Описание: </label>
        <input type="text" name="description4">

        <input type="submit" value="Обнови">
    </form>
</section>