<h1>Зала за мероприятия</h1>

<form action="/events" method="post">
    <label for="description">Описание</label>
    <input type="text" name="description">
    <br>
    <input type="submit" value="Редактиране">
</form>