<section id="title">
    <h1>Лоби бар</h1>
</section>

<section id="make-reservation">
    <form action="/lobby" method="post">
        <label for="caffe1">Кафе 1: </label>
        <input type="text" name="caffe1">
        <label for="descriptionCaffe1">Описание: </label>
        <input type="text" name="descriptionCaffe1">
        <label for="imgCaffe1">Изображение: </label>
        <input type="text" name="imgCaffe1">
        <label for="caffe2">Кафе 2: </label>
        <input type="text" name="caffe2">
        <label for="descriptionCaffe2">Описание: </label>
        <input type="text" name="descriptionCaffe2">
        <label for="imgCaffe2">Изображение: </label>
        <input type="text" name="imgCaffe2">
        <label for="caffe3">Кафе 3: </label>
        <input type="text" name="caffe3">
        <label for="descriptionCaffe3">Описание: </label>
        <input type="text" name="descriptionCaffe3">
        <label for="imgCaffe3">Изображение: </label>
        <input type="text" name="imgCaffe3">

        <label for="cocktail1">Коктейл 1: </label>
        <input type="text" name="cocktail1">
        <label for="descriptionCocktail1">Описание: </label>
        <input type="text" name="descriptionCocktail1">
        <label for="imgCocktail1">Изображение: </label>
        <input type="text" name="imgCocktail1">
        <label for="cocktail2">Коктейл 2: </label>
        <input type="text" name="cocktail2">
        <label for="descriptionCocktail2">Описание: </label>
        <input type="text" name="descriptionCocktail2">
        <label for="imgCocktail2">Изображение: </label>
        <input type="text" name="imgCocktail2">
        <label for="cocktail3">Коктейл 3: </label>
        <input type="text" name="cocktail3">
        <label for="descriptionCocktail3">Описание: </label>
        <input type="text" name="descriptionCocktail3">
        <label for="imgCocktail3">Изображение: </label>
        <input type="text" name="imgCocktail3">


        <label for="breakfast3">Закуска 3: </label>
        <input type="text" name="breakfast3">
        <label for="descriptionBreakfast3">Описание: </label>
        <input type="text" name="descriptionBreakfast3">
        <label for="imgBrakfast3">Изображение: </label>
        <input type="text" name="imgBrakfast3">

        <label for="lunch1">Обяд 1: </label>
        <input type="text" name="lunch1">
        <label for="descriptionLunch1">Описание: </label>
        <input type="text" name="descriptionLunch1">
        <label for="imgLunch1">Изображение: </label>
        <input type="text" name="imgLunch1">
        <label for="lunch2">Обяд 2: </label>
        <input type="text" name="lunch2">
        <label for="descriptionLunch2">Описание: </label>
        <input type="text" name="descriptionLunch2">
        <label for="imgLunch2">Изображение: </label>
        <input type="text" name="imgLunch2">
        <label for="lunch3">Обяд 3: </label>
        <input type="text" name="lunch3">
        <label for="descriptionLunch3">Описание: </label>
        <input type="text" name="descriptionLunch3">
        <label for="imgLunch3">Изображение: </label>
        <input type="text" name="imgLunch3">

        <label for="dinner1">Вечеря 1: </label>
        <input type="text" name="dinner1">
        <label for="descriptionDinner1">Описание: </label>
        <input type="text" name="descriptionDinner1">
        <label for="imgDinner1">Изображение: </label>
        <input type="text" name="imgDinner1">
        <label for="dinner2">Вечеря 2: </label>
        <input type="text" name="dinner2">
        <label for="descriptionDinner2">Описание: </label>
        <input type="text" name="descriptionDinner2">
        <label for="imgDinner2">Изображение: </label>
        <input type="text" name="imgDinner2">
        <label for="dinner3">Вечеря 3: </label>
        <input type="text" name="dinner3">
        <label for="descriptionDinner3">Описание: </label>
        <input type="text" name="descriptionDinner3">
        <label for="imgDinner3">Изображение: </label>
        <input type="text" name="imgDinner3">
        <label for="whiskey">Уиски: </label>
        <input type="text" name="whiskey">
        <label for="descriptionWhiskey">Описание: </label>
        <input type="text" name="descriptionWhiskey">
        <label for="imgWhiskey">Изображение: </label>
        <input type="text" name="imgWhiskey">

        <label for="champagne">Шампанско: </label>
        <input type="text" name="champagne">
        <label for="descriptionChampagne">Описание: </label>
        <input type="text" name="descriptionChampagne">
        <label for="imgChampagne">Изображение: </label>
        <input type="text" name="imgChampagne">

        <label for="vodka">Водка: </label>
        <input type="text" name="vodka">
        <label for="descriptionVodka">Описание: </label>
        <input type="text" name="descriptionVodka">
        <label for="imgVodka">Изображение: </label>
        <input type="text" name="imgVodka">

        <label for="tequila">Текила: </label>
        <input type="text" name="tequila">
        <label for="descriptionTequila">Описание: </label>
        <input type="text" name="descriptionTequila">
        <label for="imgTequila">Изображение: </label>
        <input type="text" name="imgTequila">

        <label for="beer">Бира: </label>
        <input type="text" name="beer">
        <label for="descriptionBeer">Описание: </label>
        <input type="text" name="descriptionBeer">
        <label for="imgBeer">Изображение: </label>
        <input type="text" name="imgBeer">

        <label for="hookah">Наргиле: </label>
        <input type="text" name="hookah">
        <label for="descriptionHookah">Описание: </label>
        <input type="text" name="descriptionHookah">
        <label for="imgHookah">Изображение: </label>
        <input type="text" name="imgHookah">

        <label for="sandwiches">Сандвичи: </label>
        <input type="text" name="sandwiches">
        <label for="descriptionSandwiches">Описание: </label>
        <input type="text" name="descriptionSandwiches">
        <label for="imgSandwiches">Изображение: </label>
        <input type="text" name="imgSandwiches">

        <label for="sweets">Сладкиши: </label>
        <input type="text" name="sweets">
        <label for="descriptionSweets">Описание: </label>
        <input type="text" name="descriptionSweets">
        <label for="imgSweets">Изображение: </label>
        <input type="text" name="imgSweets">
        <input type="submit" value="Обнови">
    </form>
</section>