<h1>Лоби бар</h1>

<form action="/lobby" method="post">
    <h5>Кафе</h5>
    <label for="caffe1">Кафе 1</label>
    <input type="text" name="caffe1">
    <br>
    <label for="descriptionCaffe1">Описание</label>
    <input type="text" name="descriptionCaffe1">
    <br>
    <label for="imgCaffe1">Изображение</label>
    <input type="text" name="imgCaffe1">
    <br>

    <label for="caffe2">Кафе 2</label>
    <input type="text" name="caffe2">
    <br>
    <label for="descriptionCaffe2">Описание</label>
    <input type="text" name="descriptionCaffe2">
    <br>
    <label for="imgCaffe2">Изображение</label>
    <input type="text" name="imgCaffe2">
    <br>

    <label for="caffe3">Кафе 3</label>
    <input type="text" name="caffe3">
    <br>
    <label for="descriptionCaffe3">Описание</label>
    <input type="text" name="descriptionCaffe3">
    <br>
    <label for="imgCaffe3">Изображение</label>
    <input type="text" name="imgCaffe3">
    <br>

    <h5>Коктейли</h5>
    <label for="cocktail1">Коктейл 1</label>
    <input type="text" name="cocktail1">
    <br>
    <label for="descriptionCocktail11">Описание</label>
    <input type="text" name="descriptionCocktail1">
    <br>
    <label for="imgCocktail11">Изображение</label>
    <input type="text" name="imgCocktail1">
    <br>

    <label for="cocktail2">Коктейл 2</label>
    <input type="text" name="cocktail2">
    <br>
    <label for="descriptionCocktail2">Описание</label>
    <input type="text" name="descriptionCocktail2">
    <br>
    <label for="imgCocktail2">Изображение</label>
    <input type="text" name="imgCocktail2">
    <br>

    <label for="cocktail3">Коктейл 3</label>
    <input type="text" name="cocktail3">
    <br>
    <label for="descriptionCocktail3">Описание</label>
    <input type="text" name="descriptionCocktail3">
    <br>
    <label for="imgCocktail3">Изображение</label>
    <input type="text" name="imgCocktail3">
    <br>

    <h5>Алкохол</h5>
    <label for="whiskey">Уиски</label>
    <input type="text" name="whiskey">
    <br>
    <label for="descriptionWhiskey">Описание</label>
    <input type="text" name="descriptionWhiskey">
    <br>
    <label for="imgWhiskey">Изображение</label>
    <input type="text" name="imgWhiskey">
    <br>

    <label for="champagne">Шампанско</label>
    <input type="text" name="champagne">
    <br>
    <label for="descriptionChampagne">Описание</label>
    <input type="text" name="descriptionChampagne">
    <br>
    <label for="imgChampagne">Изображение</label>
    <input type="text" name="imgChampagne">
    <br>

    <label for="vodka">Водка</label>
    <input type="text" name="vodka">
    <br>
    <label for="descriptionVodka">Описание</label>
    <input type="text" name="descriptionVodka">
    <br>
    <label for="imgVodka">Изображение</label>
    <input type="text" name="imgVodka">
    <br>

    <label for="tequila">Текила</label>
    <input type="text" name="tequila">
    <br>
    <label for="descriptionTequila">Описание</label>
    <input type="text" name="descriptionTequila">
    <br>
    <label for="imgTequila">Изображение</label>
    <input type="text" name="imgTequila">
    <br>

    <label for="beer">Бира</label>
    <input type="text" name="beer">
    <br>
    <label for="descriptionBeer">Описание</label>
    <input type="text" name="descriptionBeer">
    <br>
    <label for="imgBeer">Изображение</label>
    <input type="text" name="imgBeer">
    <br>

    <h5>Наркилета и пури</h5>
    <label for="hookah">Наркилета</label>
    <input type="text" name="hookah">
    <br>
    <label for="descriptionHookah">Описание</label>
    <input type="text" name="descriptionHookah">
    <br>
    <label for="imgHookah">Изображение</label>
    <input type="text" name="imgHookah">
    <br>

    <h5>Сандвичи</h5>
    <label for="sandwiches">Сандвич Dream Castle</label>
    <input type="text" name="sandwiches">
    <br>
    <label for="descriptionSandwiches">Описание</label>
    <input type="text" name="descriptionSandwiches">
    <br>
    <label for="imgSandwiches">Изображение</label>
    <input type="text" name="imgSandwiches">
    <br>

    <h5>Сладкиши</h5>
    <label for="sweets">Сладкиш Dream Castle</label>
    <input type="text" name="sweets">
    <br>
    <label for="descriptionSweets">Описание</label>
    <input type="text" name="descriptionSweets">
    <br>
    <label for="imgSweets">Изображение</label>
    <input type="text" name="imgSweets">
    <br>
    <input type="submit" value="Редактиране">
</form>