<h1>Създаване на администратор</h1>

<form action="/admin/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="rePass" placeholder="rePass">
    <input type="submit" value="Създаване">
</form>