<section id="title">
    <h1>Резервации</h1>
</section>
<table>
    <thead>
        <tr>
            <th>Име, презиме, фамилия</th>
            <th>Тип стая</th>
            <th>Дата на настаняване</th>
            <th>Дата на напускане</th>
            <th></th>

        </tr>
    </thead>
    <tbody id="reservationTable">
        <tr>
            <td>Simona</td>
            <td>Simona</td>
            <td>Simona</td>
            <td>Simona</td>
            <td> <i class="fa-solid fa-check mark"> <i class="fa-solid fa-xmark"></i></td>
        </tr>
    </tbody>
</table>