<h1>Ресторант</h1>

<form action="/restaurant" method="post">
    <h5>Закуска</h5>
    <label for="breakfast1">Ястие 1</label>
    <input type="text" name="breakfast1">
    <br>
    <label for="descriptionBreakfast1">Описание</label>
    <input type="text" name="descriptionBreakfast1">
    <br>
    <label for="imgBreakfast1">Изображение 1</label>
    <input type="text" name="imgBreakfast1">
    <br>
    <label for="breakfast2">Ястие 2</label>
    <input type="text" name="breakfast2">
    <br>
    <label for="descriptionBreakfast2">Описание</label>
    <input type="text" name="descriptionBreakfast2">
    <br>
    <label for="imgBreakfast2">Изображение</label>
    <input type="text" name="imgBreakfast2">
    <br>
    <label for="breakfast3">Ястие 3</label>
    <input type="text" name="breakfast3">
    <br>
    <label for="descriptionBreakfast3">Описание</label>
    <input type="text" name="descriptionBreakfast3">
    <br>
    <label for="imgBreakfast3">Изображение</label>
    <input type="text" name="imgBreakfast3">
    <br>

    <h5>Обяд</h5>
    <label for="lunch1">Ястие 1</label>
    <input type="text" name="lunch1">
    <br>
    <label for="descriptionLunch1">Описание</label>
    <input type="text" name="descriptionLunch1">
    <br>
    <label for="imgLunch1">Изображение 1</label>
    <input type="text" name="imgLunch1">
    <br>
    <label for="lunch2">Ястие 2</label>
    <input type="text" name="lunch2">
    <br>
    <label for="descriptionLunch2">Описание</label>
    <input type="text" name="descriptionLunch2">
    <br>
    <label for="imgLunch2">Изображение</label>
    <input type="text" name="imgLunch2">
    <br>
    <label for="lunch3">Ястие 3</label>
    <input type="text" name="lunch3">
    <br>
    <label for="descriptionLunch2">Описание</label>
    <input type="text" name="descriptionLunch2">
    <br>
    <label for="imgLunch3">Изображение</label>
    <input type="text" name="imgLunch3">
    <br>

    <h5>Вечеря</h5>
    <label for="dinner1">Ястие 1</label>
    <input type="text" name="dinner1">
    <br>
    <label for="descriptionDinner1">Описание</label>
    <input type="text" name="descriptionDinner1">
    <br>
    <label for="imgDinner1">Изображение 1</label>
    <input type="text" name="imgDinner1">
    <br>
    <label for="dinner2">Ястие 2</label>
    <input type="text" name="dinner2">
    <br>
    <label for="descriptionDinner2">Описание</label>
    <input type="text" name="descriptionDinner2">
    <br>
    <label for="imgDinner2">Изображение</label>
    <input type="text" name="imgDinner2">
    <br>
    <label for="dinner3">Ястие 3</label>
    <input type="text" name="dinner3">
    <br>
    <label for="descriptionDinner3">Описание</label>
    <input type="text" name="descriptionDinner3">
    <br>
    <label for="imgDinner3">Изображение</label>
    <input type="text" name="imgDinner3">
    <br>
    <input type="submit" value="Редактиране">
</form>