<h1>Ресторант</h1>
<h2>Меню</h2>

<form action="/restaurant" method="post">
    <h5>Закуска</h5>
    <label for="brakfast1">Ястие 1</label>
    <input type="text" name="brakfast1">
    <br>
    <label for="descriptionBreakfast1">Описание</label>
    <input type="text" name="descriptionBreakfast1">
    <br>
    <label for="imgBrakfast1">Изображение</label>
    <input type="text" name="imgBrakfast1">
    <br>
    <label for="food2">Ястие 2</label>
    <input type="text" name="food2">
    <br>
    <label for="imgFood2">Изображение</label>
    <input type="text" name="imgFood2">
    <br>
    <label for="food3">Ястие 3</label>
    <input type="text" name="food3">
    <br>
    <label for="imgFood3">Изображение</label>
    <input type="text" name="imgFood3">
    <br>

    <h5>Обяд</h5>
    <label for="food1">Ястие 1</label>
    <input type="text" name="food1">
    <br>
    <label for="imgFood1">Изображение</label>
    <input type="text" name="imgFood1">
    <br>
    <label for="food2">Ястие 2</label>
    <input type="text" name="food2">
    <br>
    <label for="imgFood2">Изображение</label>
    <input type="text" name="imgFood2">
    <br>
    <label for="food3">Ястие 3</label>
    <input type="text" name="food3">
    <br>
    <label for="imgFood3">Изображение</label>
    <input type="text" name="imgFood3">
    <br>

    <h5>Вечеря</h5>
    <label for="food1">Ястие 1</label>
    <input type="text" name="food1">
    <br>
    <label for="imgFood1">Изображение</label>
    <input type="text" name="imgFood1">
    <br>
    <label for="food2">Ястие 2</label>
    <input type="text" name="food2">
    <br>
    <label for="imgFood2">Изображение</label>
    <input type="text" name="imgFood2">
    <br>
    <label for="food3">Ястие 3</label>
    <input type="text" name="food3">
    <br>
    <label for="imgFood3">Изображение</label>
    <input type="text" name="imgFood3">
    <br>
    <input type="submit" value="Редактиране">
</form>