<h1>Спа център</h1>

<form action="/spa" method="post">
    <label for="spa">SPA ПРЕДЛОЖЕНИЯ</label>
    <input type="text" name="spa">
    <br>
    <label for="cosmeticIdeas">КОЗМЕТИЧНИ ИДЕИ</label>
    <input type="text" name="cosmeticIdeas">
    <br>
    <label for="indoorSpa">ВЪТРЕШНИ SPA СЪОРЪЖЕНИЯ</label>
    <input type="text" name="indoorSpa">
    <br>
    <label for="outdoorSpa">ВЪНШНИ SPA СЪОРЪЖЕНИЯ</label>
    <input type="text" name="outdoorSpa">
    <br>
    <label for="pools">БАСЕЙНИ</label>
    <input type="text" name="pools">
    <br>
    <label for="beautySalon">САЛОН ЗА КРАСОТА</label>
    <input type="text" name="beautySalon">
    <br>
    <input type="submit" value="Редактиране">
</form>