<section id="title">
    <h1>Спа</h1>
</section>

<section id="make-reservation">
    <form action="/spa" method="post">
        <label for="spa">Спа: </label>
        <input type="text" name="spa">
        <label for="cosmeticIdeas">Козметични идеи: </label>
        <input type="text" name="cosmeticIdeas">
        <label for="indoorSpa">Вътрешно спа: </label>
        <input type="text" name="indoorSpa">
        <label for="outdoorSpa">Външно спа: </label>
        <input type="text" name="outdoorSpa">
        <label for="pools">Басейни: </label>
        <input type="text" name="pools">
        <label for="beautySalon">Салон за красота: </label>
        <input type="text" name="beautySalon">

        <input type="submit" value="Обнови">
    </form>
</section>