<section id="title">
    <h1>Летен бар</h1>
</section>

<section id="make-reservation">
    <form action="/summerBar" method="post">
        <label for="img1">Изображение 1: </label>
        <input type="text" name="img1">
        <label for="img2">Изображение 2: </label>
        <input type="text" name="img2">
        <label for="img3">Изображение 3: </label>
        <input type="text" name="img3">
        <label for="img4">Изображение 4: </label>
        <input type="text" name="img4">
        <label for="img5">Изображение 5: </label>
        <input type="text" name="img5">
        <label for="img6">Изображение 6: </label>
        <input type="text" name="img6">
        <label for="img7">Изображение 7: </label>
        <input type="text" name="img7">
        <label for="img8">Изображение 8: </label>
        <input type="text" name="img8">
        <label for="img9">Изображение 9: </label>
        <input type="text" name="img9">
        <label for="img10">Изображение 10: </label>
        <input type="text" name="img10">

        <input type="submit" value="Обнови">
    </form>
</section>