<h1>Летен бар</h1>

<form action="/summerBar" method="post">
    <h5>Изображения</h5>
    <label for="img1">Снимка 1</label>
    <input type="text" name="img1">
    <br>
    <label for="img2">Снимка 2</label>
    <input type="text" name="img2">
    <br>
    <label for="img3">Снимка 3</label>
    <input type="text" name="img3">
    <br>
    <label for="img4">Снимка 4</label>
    <input type="text" name="img4">
    <br>
    <label for="img5">Снимка 5</label>
    <input type="text" name="img5">
    <br>
    <label for="img6">Снимка 6</label>
    <input type="text" name="img6">
    <br>
    <label for="img7">Снимка 7</label>
    <input type="text" name="img7">
    <br>
    <label for="img8">Снимка 8</label>
    <input type="text" name="img8">
    <br>
    <label for="img9">Снимка 9</label>
    <input type="text" name="img9">
    <br>
    <label for="img10">Снимка 10</label>
    <input type="text" name="img10">
    <br>

    <input type="submit" value="Редактиране">
</form>