<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/style.css">

    <title>{{title}}</title>
</head>

<body>
    <div class="navbar">
        <a href="/" id="logo">Dream castle</a>
        <a href="/about">За хотела</a>
        <div class="dropdown">
            <button class="dropbtn">Настаняване
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/double">Двойна стая</a>
                <a href="/doubleBalcony">Двойна стая с тераса</a>
                <a href="/doubleLux">Двойна стая делукс</a>
                <a href="/oneRoomApart">Едностаен апартамент</a>
                <a href="/twoRoomApart">Двустаен апартамент</a>
                <a href="/vipApart">ВИП апартамент</a>
                <a href="/presidentApart">Президентски апартамент</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Заведения
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/restaurant">Ресторант</a>
                <a href="/lobby">Лоби бар</a>
                <a href="/summerBar">Летен бар</a>

            </div>
        </div>
        <a href="/spa">Спа</a>
        <a href="/children">За децата</a>

        <div class="dropdown">
            <button class="dropbtn">Мероприятия
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/events">Зала за мероприятия</a>
                <a href="/banquetHall">Банкетна зала</a>
            </div>
        </div>
        <a href="/reservation">Резервирай</a>
    </div>
    {{{body}}}

    <footer>
        <img src="/content/img/logo.jpg" alt="logo" id="logo-img">
        <p>Copyright &copy; 2024 <a href="">Dream Castle</a>. All Rights Reserved</p>
    </footer>
</body>

</html>