<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="/content/style.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="navbar">
        <a href="/admin" id="logo">Dream castle</a>
        {{#if admin}}

        <div class="dropdown">
            <button class="dropbtn">Настаняване
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/admin/double">Двойна стая</a>
                <a href="/admin/doubleBalcony">Двойна стая с тераса</a>
                <a href="/admin/doubleLux">Двойна стая делукс</a>
                <a href="/admin/oneRoomApart">Едностаен апартамент</a>
                <a href="/admin/twoRoomApart">Двустаен апартамент</a>
                <a href="/admin/vipApart">ВИП апартамент</a>
                <a href="/admin/presidentApart">Президентски апартамент</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Заведения
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/admin/restaurant">Ресторант</a>
                <a href="/admin/lobby">Лоби бар</a>
                <a href="/admin/summerBar">Летен бар</a>

            </div>
        </div>
        <a href="/admin/spa">Спа</a>
        <a href="/admin/children">За децата</a>

        <div class="dropdown">
            <button class="dropbtn">Мероприятия
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/admin/events">Зала за мероприятия</a>
                <a href="/admin/banquetHall">Банкетна зала</a>
            </div>
        </div>
        <a href="/admin/reservations">Резервации</a>
        <a href="/admin/logout">Изход</a>
        {{else}}
        <a href="/admin/login">Влизане</a>

        {{/if}}
    </div>
    {{{body}}}

    <footer>
        <img src="/content/img/logo.jpg" alt="logo" id="logo-img">
        <p>Copyright &copy; 2024 <a href="">Dream Castle</a>. All Rights Reserved</p>
    </footer>
</body>

</html>