<section id="title">
    <h1>За нас</h1>
</section>

<section id="about-body">

    <p>Ние сме разположени в сърцето на с. Барутин, където съвременният комфорт се среща с традиционното
        гостоприемство. Нашият хотел предлага уникална комбинация от уют и елегантност, осигурявайки на нашите гости
        незабравимо преживяване.</p>
    <img src="/content/img/about.jpg" alt="about">
</section>

<section id="contact">
    <div class="container">
        <h2>Свържете се с нас</h2>
        <p>Ако имате въпроси или искате да направите резервация, не се колебайте да се свържете с нас:</p>
        <div class="contact-info">
            <p><strong>Телефон:</strong> <a href="tel:[Телефонен номер]">0897372104</a></p>
            <p><strong>Имейл:</strong> <a href="mailto:[Имейл адрес]">dream@gmail.com</a></p>
            <p><strong>Адрес: </strong>с. Барутин</p>
        </div>
    </div>
</section>