<section id="background">
    <div id="bg-img"></div>
    <p><span id="home-title">Dream Castle</span> <br> Ние се грижим за Вашата почивка!</p>
</section>

<section id="home-text">
    <h1 class="title">Welcome</h1>
    <h2>В УЮТНАТА ПРЕГРЪДКА НА КОМФОРТА ФЛИРТ С ЖИЗНЕНОСТТА!</h2>
    <p>Разположен в подножието на гората сред дивна гледка и уникална природа, в район с чист въздух и висока
        йонизация, Arte Spa & Park Hotel първо
        ще Ви грабне със своя кокетен алпийски стил и архитектурна елегантност. Миг след това ще усетите тишината и
        спокойствието, които пленяват сетивата, за да Ви потопят в незабравимо преживяване сред комфорт и лукс за
        събуждане на жизнените сили и усещане за лекота.

        А това е само малка част от всичко, което ние с щедро гостоприемство, много положителен заряд и щипка любов
        сме подготвили за Вас!
        Добре дошли в нашата петзвездна приказка!</p>

    <div class="grid-container">
        <div class="grid-item"><img src="/content/img/img1.jpg" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="/content/img/img2.jpg" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="/content/img/img3.jpg" alt="" class="imageInGrid"></div>
    </div>
</section>

<section id="offers">
    <h1>СПЕЦИАЛНИ ПРЕДЛОЖЕНИЯ</h1>
    <p class="special-offert">Разгледайте всички специални предложения</p>
    <p class="special-offert">Подарете ваучер за избрана от вас услуга в нашия хотел. Неповторим уикенд в романтично
        украсена стая или специална вечеря в приятна обстановка с тематична програма подготвена от нас.</p>
    <h3>ЗАКУПЕНИТЕ ОТ ВАС ВАУЧЕРИ МОЖЕТЕ ДА ПОЛУЧИТЕ ПО ТРИ НАЧИНА:</h3>
    <p class="special-offert">Доставка до посочен от Вас адрес - Получаване в хотела - Отпечатване от Вас, като в този
        случай ваучерът ще Ви бъде изпратен в PDF файл.</p>
    <a href="#" id="more">ВИЖ ОЩЕ</a>
</section>