<section id="tenks">
    <h1>Благодарим Ви, че избрахте Dream Castle!</h1>
    <img src="/content/img/thenks.png" alt="">
    <p>Ще се свържем с Вас до няколко часа, за да потвърдим резервацията!</p>
</section>
